<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container" style="color:white">
        <a href="/" style="text-decoration: none; color: white;"><img src="/img/404.png" alt="404" style="max-width: 400px;">
        <h1 style="text-align: right;">Opa amigão, parece que tu se perdeu.</h1>
        <h2 style="text-align: right;">Esquenta não, eu me perco toda hora também.</h2>
        <h6 style="text-align: right;">Mas ai, acho que é melhor pra nós dois se você voltar pra página inicial, viu.</h6></a>
    </div>
</body>
<%- include('partials/footer.ejs'); %>